.newsDetailPage {
  .newsDetailWrapper {
    display: flex;
    .leftPart {
      width: 50%;
    }
    .rightPart {
      width: 70%;
      padding-left: 30px;
    }
		
    .title {
      font-size: 60px;
      margin: 0;
      margin-bottom: 30px;
      font-size: 400;
    }
    .source {
      font-size: 25px;
      margin-bottom: 30px;
    }
    img {
      max-width: 730px;
      max-height: 380px;
      margin-bottom: 60px;
    }
    .summary {
      font-size: 20px;
      margin: 0;
    }
  }
}

.btn-new {
  border-radius: 20px;
  color: white;
  transition: 0.2s linear;
  background: #0b63f6;
}

.btn-new:hover {
  -webkit-transform: rotateZ(5deg);
  -ms-transform: rotateZ(5deg);
  transform: rotateZ(5deg);
}